<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Leaflet + Bootstrap Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='src/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/MarkerCluster.Default.css') }}" />
    <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />

    <script src="{{ url_for('static', filename='src/leaflet-src.js') }}"></script>
    <script src="{{ url_for('static', filename='src/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/turf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/plugins/L.Control.Zoomslider.js') }}"></script>
    <script src="{{ url_for('static', filename='src/plugins/L.Control.Sidebar.js') }}"></script>
    <script src="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js"></script>

    <style>
      #map {
        height: 90vh;
      }
    </style>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <h1 class="my-4 d-flex justify-content-center">Map Assignment</h1>
      <div class="row">
        <!-- Alla taskknappar -->
        <div class="col-1 bg-light p-3 d-flex flex-column">
          <h3 class="mb-4">Tasks</h3>
          <button id="task1Button" class="btn btn-primary mb-2">Task 1</button>
          <button id="task2Button" class="btn btn-primary mb-2">Task 2</button>
          <button id="task3Button" class="btn btn-primary mb-2">Task 3</button>
          <button id="task4Button" class="btn btn-primary mb-2">Task 4</button>
          <button id="task5Button" class="btn btn-primary mb-2">Task 5</button>
          <button id="task6Button" class="btn btn-primary mb-2">Task 6</button>
          <button id="task7Button" class="btn btn-primary mb-2">Task 7</button>
        </div>

        <!-- kartan -->
        <div class="col p-0">
          <div id="map" class="w-100"></div>
        </div>

        <!-- Sidebar, vi kan lägga till så att den inte syns om det inte finns innehåll i den sen -->
        <div class="col-2 bg-light p-3 d-flex flex-column">
          <h3 class="mb-4">Sidebar</h3>
          <div id="informationSidebar"></div>
        </div>
      </div>
    </div>

    <!-- Skickar vidare JSON filerna som vi laddade in i app.py -->
    <script type="application/json" id="supermarket-data">
      {{ supermarket_data|tojson|safe }}
    </script>
    <script type="application/json" id="fuel-data">
      {{ fuel_data|tojson|safe }}
    </script>
    <script type="application/json" id="school-data">
      {{ school_data|tojson|safe }}
    </script>
    <script src="{{ url_for('static', filename='src/map.js') }}"></script>
  </body>
</html>
